# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
first = pd.Series(np.random.randint(1, 5, 100))
second = pd.Series(np.random.randint(1, 4, 100))
third = pd.Series(np.random.randint(10000, 30001, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [4]:
df = pd.DataFrame({"first" : first, "second": second, "third": third})
df.head()

   first  second  third
0      2       1  21098
1      2       2  16277
2      2       3  16428
3      2       2  21772
4      4       2  29180

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [6]:
df = df.rename(columns={"first": "bedrs", "second": "bathrs", "third": "price_sqr_meter"})

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [11]:
df1 = pd.DataFrame({"bigcolumn": pd.concat([first, second, third])})
df1.sample(10)

    bigcolumn
93          2
0           2
13          2
94          3
98      11716
88          2
67          3
4       29180
64          4
11          4

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [13]:
df1.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       ...
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [15]:
df1.reset_index(drop=True)

     bigcolumn
0            2
1            2
2            2
3            2
4            4
..         ...
295      21125
296      15630
297      22550
298      11716
299      23713

[300 rows x 1 columns]