# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv(
    "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",
    sep="\t"
)

### Step 4. How many products cost more than $10.00?

In [5]:
# chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

chipo.loc[chipo["item_price"] > 10].shape[0]

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [23]:
# chipo[["item_name", "item_price"]].reset_index(drop=True)
chipo.loc[chipo["quantity"] == 1].groupby(by="item_name")[
    "item_price"
].mean().reset_index()

                                item_name  item_price
0                       6 Pack Soft Drink    6.490000
1                           Barbacoa Bowl   10.187273
2                        Barbacoa Burrito    9.832418
3                   Barbacoa Crispy Tacos   10.171000
4                     Barbacoa Salad Bowl   10.640000
5                     Barbacoa Soft Tacos   10.018400
6                           Bottled Water    1.435108
7                                    Bowl    7.400000
8                                 Burrito    7.400000
9                             Canned Soda    1.090000
10                      Canned Soft Drink    1.250000
11                          Carnitas Bowl   10.272121
12                       Carnitas Burrito    9.988448
13                  Carnitas Crispy Tacos    9.996667
14                         Carnitas Salad    8.990000
15                    Carnitas Salad Bowl   11.056667
16                    Carnitas Soft Tacos    9.398500
17                           Chicken Bowl    9.668139
18                        Chicken Burrito    9.514549
19                   Chicken Crispy Tacos    9.548864
20                          Chicken Salad    9.010000
21                     Chicken Salad Bowl    9.806701
22                     Chicken Soft Tacos    9.247000
23                                  Chips    2.149171
24           Chips and Fresh Tomato Salsa    2.739143
25                    Chips and Guacamole    4.341560
26      Chips and Mild Fresh Tomato Salsa    3.000000
27     Chips and Roasted Chili Corn Salsa    2.950000
28     Chips and Roasted Chili-Corn Salsa    2.390000
29  Chips and Tomatillo Green Chili Salsa    2.950000
30    Chips and Tomatillo Red Chili Salsa    2.950000
31  Chips and Tomatillo-Green Chili Salsa    2.390000
32    Chips and Tomatillo-Red Chili Salsa    2.390000
33                           Crispy Tacos    7.400000
34                                   Izze    3.390000
35                       Nantucket Nectar    3.390000
36                                  Salad    7.400000
37                          Side of Chips    1.690000
38                             Steak Bowl   10.230891
39                          Steak Burrito   10.006335
40                     Steak Crispy Tacos    9.981176
41                            Steak Salad    8.915000
42                       Steak Salad Bowl   10.964074
43                       Steak Soft Tacos    9.584259
44                            Veggie Bowl   10.048554
45                         Veggie Burrito    9.585319
46                    Veggie Crispy Tacos    8.490000
47                           Veggie Salad    8.490000
48                      Veggie Salad Bowl   10.138889
49                      Veggie Soft Tacos    9.496667

### Step 6. Sort by the name of the item

In [21]:
chipo.sort_values(by="item_name").head()

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [31]:
# chipo.query("quantity == 1")[["item_name", "item_price"]].max()
chipo.sort_values(by="item_price", ascending=False).iloc[0, 1]

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [36]:
chipo.query("item_name == 'Veggie Salad Bowl'").shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [37]:
chipo.query("item_name == 'Canned Soda' and quantity > 1").shape[0]

20